[submodule "pdraw"]
	path = pdraw
	url = git@github.com:aviborg/pdraw.git
[submodule "libfutils"]
	path = libfutils
	url = git@github.com:aviborg/libfutils.git
[submodule "libpomp"]
	path = libpomp
	url = git@github.com:aviborg/libpomp.git
[submodule "libmedia-buffers"]
	path = libmedia-buffers
	url = git@github.com:aviborg/libmedia-buffers.git
[submodule "libvideo-defs"]
	path = libvideo-defs
	url = git@github.com:aviborg/libvideo-defs.git
[submodule "libvideo-metadata"]
	path = libvideo-metadata
	url = git@github.com:aviborg/libvideo-metadata.git
[submodule "libh265"]
	path = libh265
	url = git@github.com:aviborg/libh265.git
[submodule "libh264"]
	path = libh264
	url = git@github.com:aviborg/libh264.git
[submodule "libmp4"]
	path = libmp4
	url = git@github.com:aviborg/libmp4.git
[submodule "libsdp"]
	path = libsdp
	url = git@github.com:aviborg/libsdp.git
[submodule "librtp"]
	path = librtp
	url = git@github.com:aviborg/librtp.git
[submodule "librtsp"]
	path = librtsp
	url = git@github.com:aviborg/librtsp.git
[submodule "libtransport-socket"]
	path = libtransport-socket
	url = git@github.com:aviborg/libtransport-socket.git
[submodule "libtransport-packet"]
	path = libtransport-packet
	url = git@github.com:aviborg/libtransport-packet.git
[submodule "libvideo-decode"]
	path = libvideo-decode
	url = git@github.com:aviborg/libvideo-decode.git
[submodule "libvideo-scale"]
	path = libvideo-scale
	url = git@github.com:aviborg/libvideo-scale.git
[submodule "libvideo-streaming"]
	path = libvideo-streaming
	url = git@github.com:aviborg/libvideo-streaming.git
[submodule "libvideo-encode"]
	path = libvideo-encode
	url = git@github.com:aviborg/libvideo-encode.git
